body {
    margin: 0;
    font-family: Arial;
    background: #00132b;
    color: white;
    text-align: center;
}

header {
    padding: 20px;
    background: #002a55;
    margin-bottom: 20px;
}

input#search {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
}

.section-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 10px;
}

.section-card {
    background: #003b75;
    padding: 20px;
    border-radius: 12px;
    width: 120px;
    text-align: center;
}

.section-card:hover {
    background: #0056b3;
}

.green-btn {
    display: inline-block;
    background: #0f0;
    padding: 12px 30px;
    border-radius: 10px;
    color: black;
    text-decoration: none;
    margin-top: 20px;
}

.big-img {
    width: 90%;
    max-width: 450px;
    border-radius: 10px;
}

.description {
    padding: 20px;
    font-size: 18px;
}

.pack-card {
    background: #003b75;
    padding: 20px;
    border-radius: 12px;
    width: 90%;
    max-width: 400px;
    margin: auto;
}
