body {
    background: #0b1020;
    color: white;
    font-family: Arial;
    margin: 0;
    padding: 0;
}

header {
    padding: 20px;
    text-align: center;
}

#searchBar {
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    font-size: 16px;
}

#sectionsContainer {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

.section {
    padding: 20px;
    background: #1a2340;
    border-radius: 10px;
    cursor: pointer;
}
